@model IEnumerable<AIM.Service.Entities.Models.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Region Select</h2>

<center>
    @using (Html.BeginForm("StoreSelect", "OpenJob", FormMethod.Get))
    {
        <fieldset>
           Select region: <select name="RegionId">
                @foreach (var item in Model)
                {
                    <option value=@item.regionId>@item.regionName</option>
                }
            </select>
            <p>
                <input type="submit" value="Submit" class="btn btn-success" />
            </p>
        </fieldset>
    }
</center>

