@model IEnumerable<AIM.Service.Entities.Models.Store>

@{
    ViewBag.Title = "Store Select";
}

<h2>Store Select</h2>

<center>
    @using (Html.BeginForm("OpenJobList", "OpenJob", FormMethod.Get))
    {
        <fieldset>
            Select store: <select name="StoreId">
                @foreach (var item in Model)
                {
                    <option value=@item.storeId>@item.name</option>
                }
            </select>
    
            <p>
                <input type="submit" value="Submit" class="btn btn-success" />
            </p>
        </fieldset>
    }
</center>

