@model IEnumerable<AIM.Web.Admin.Models.EntityModels.Region>

@{
    ViewBag.Title = "Index";
    var userName = TempData["userName"];
    TempData["userName"] = userName;
    var permissions = TempData["Permissions"];
    TempData["Permissions"] = permissions;
}

<center>
    <h1>Browse Job Openings</h1>
</center>

<h3>Select the region you want to look at</h3>

<center>
    @using (Html.BeginForm("StoreSelect", "OpenJob", FormMethod.Get))
    {
        <fieldset>
           Select region: <select name="RegionID">
                @foreach (var item in Model)
                {
                    <option value=@item.RegionId>@item.RegionName</option>
                }
            </select>
            <p>
                <input type="submit" value="Submit" class="btn btn-success" />
            </p>
        </fieldset>
    }
</center>

