@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AES</h1>
    <p class="leadDefault1">Sales pitch goes here.</p>
</div>

<center>
        @using(Html.BeginForm("Index", "OpenJob", FormMethod.Get))
        {
            <fieldset>
                Select region: <select name="RegionId">
                    @foreach(var item in Model)
                    {
                        <option value=@item.regionId>@item.regionName.ToString()</option>
                    }
                </select>
                <p></p>
                <p>
                    <input type="submit" value="View Job Openings" class="btn btn-success icon-zoom-in icon-white" />
                </p>
            </fieldset>            
        }
</center>


