@model AIM.Web.ClientApp.Models.EntityModels.Application

@{
    ViewBag.Title = "Create";
}

<h2>Application</h2>
<p>Creating Apllication on @DateTime.Now.Date </p>

    <form id="form-3" action="#">
        <h1>Personal</h1>
        <fieldset>
            <legend>Personal Information</legend>

            <div class="row">
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="" for="FirstName">First name: *</label>
                                <input class="col-lg-12" id="FirstName" name="FirstName" type="text" class="required">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="" for="MiddleName">Middle name: *</label>
                                <input class="col-lg-12" id="MiddleName" name="MiddleName" type="text" class="required">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="" for="LastName">Last Name: *</label>
                                <input class="col-lg-12" id="LastName" name="LastName" type="text" class="required">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2" for="UserName">Account Name: *</label>
                            <input class="col-lg-4 col-md-4" id="UserName" name="UserName" type="text" class="required">
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 col-md-2" for="Email">Email Address: *</label>
                            <input class="col-lg-4 col-md-4" id="Email" name="Email" type="email" class="required">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="form-group">

                        <div class="form-group">
                            <label class="col-lg-2" for="Password">Password: *</label>
                            <input class="col-lg-2" id="Password" name="Password" type="text" class="required">
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2" for="confirm">Confirm Password: *</label>
                            <input class="col-lg-2" id="confirm" name="confirm" type="text" class="required">
                        </div>
                    </div>
                </div>
            </div>

            <p>(*) Mandatory</p>
        </fieldset>

        <h1>Profile</h1>
        <fieldset>
            <legend>Profile Information</legend>

            <label for="name">First name *</label>
            <input id="name" name="name" type="text" class="required">
            <label for="surname">Last name *</label>
            <input id="surname" name="surname" type="text" class="required">
            <label for="email">Email *</label>
            <input id="email" name="email" type="text" class="required email">
            <label for="address">Address</label>
            <input id="address" name="address" type="text">
            <label for="age">Age (The warning step will show up if age is less than 18) *</label>
            <input id="age" name="age" type="text" class="required number">
            <p>(*) Mandatory</p>
        </fieldset>

        <h1>Warning</h1>
        <fieldset>
            <legend>You are to young</legend>

            <p>Please go away ;-)</p>
        </fieldset>

        <h1>Finish</h1>
        <fieldset>
            <legend>Terms and Conditions</legend>

            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
        </fieldset>
    </form>

    <script src="~/Scripts/Questionnaire.js"></script>