
@{
    ViewBag.Title = "Failed";
}

<div class="jumbotron" style="color: red;">
    @*<img src="~/Image/logo.png" />*@
    <p class="leadDefault1" style="padding-top: 20px;">Sorry... You do not meet the job requirements at this time.</p>
</div>

<div style="text-align: center;">
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">
        <i class="icon-zoom-in icon-white"></i>
        New Search
    </a>
</div>