<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <client>
           <endpoint address="http://localhost:12380/JobService.svc" binding="mexHttpBinding" contract="AIM.ConsoleClient.IJobService" name="jobService">
          </endpoint>
          <endpoint address="http://localhost:12380/QuestionService.svc" binding="mexHttpBinding" contract="AIM.ConsoleClient.IQuestionService" name="questionService">
          </endpoint>
          <endpoint address="http://localhost:12380/UserService.svc" binding="mexHttpBinding" contract="AIM.ConsoleClient.IUserService" name="userService">
          </endpoint>
          <endpoint address="http://localhost:12380/PersonalInfoService.svc" binding="mexHttpBinding" contract="AIM.ConsoleClient.IPersonalInfoService" name="personalInfoService">
          </endpoint>
        <endpoint address="http://localhost:12380/ApplicationService.svc" binding="mexHttpBinding" contract="AIM.ConsoleClient.IApplicationService" name="applicationService">
          </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TrackableEntities.Common" publicKeyToken="b10b51e7b9be6a2e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>